/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,400;0,700;1,100&family=Righteous&family=Work+Sans:wght@100;300;400;600;800&display=swap');

:root {
    --colorTema: #1CB698;
}

* {
    box-sizing: border-box;
    font-family: 'Work Sans';
    margin: 0;
    padding: 0;
}

html{
    /* Permite deslizar cuando se hace clic los links del menú */
    scroll-behavior: smooth;
}

.nav-responsive{    /*  MenuBarrita */
    background-color: var(--colorTema);
    color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    display: none; /* Oculta el MenuBarrita*/

}

/* ========== SECCIÓN RESPONSIVE ========== */
@media screen and (max-width:980px){
    nav{
        /* Cuando la pantalla sea <= 8980px se oculta el menú */
        display: none;
    }
    .nav-responsive{
        /* Aparece el MenuBarrita */
        display: block;
    }
    nav.responsive{
        display: block;
        position: absolute;
        right: 0;
        top: 75px;
        background-color:#252A2E;
        width: 180px;
    }
    nav.responsive ul{
        /* Aparece el menú desplegable */
        display: block !important;
    }
    nav.responsive ul li{
        border-bottom: 1px solid #fff;  /* Rallas blancas */
    }
}

/* Estas clases se agregan dimámicamente con javascript */
/* Technical Skills */
/* .skills .skill .javascript{
    width: 0%;
    animation: 2s javascript forwards;
}
@keyframes javascript{
    0%{width: 0%;}
    100%{width: 75%;}
}

.skills .skill .htmlcss{
    width: 0%;
    animation: 2s htmlcss forwards;
}
@keyframes htmlcss{
    0%{width: 0%;}
    100%{width: 80%;}
}

.skills .skill .svelte{
    width: 0%;
    animation: 2s svelte forwards;
}
@keyframes svelte{
    0%{width: 0%;}
    100%{width: 50%;}
}

.skills .skill .python{
    width: 0%;
    animation: 2s python forwards;
}
@keyframes python{
    0%{width: 0%;}
    100%{width: 55%;}
}

.skills .skill .java{
    width: 0%;
    animation: 2s java forwards;
}
@keyframes java{
    0%{width: 0%;}
    100%{width: 40%;}
}

/* Professional Skills 
.skills .skill .comunicacion{
    width: 0%;
    animation: 2s comunicacion forwards;
}
@keyframes comunicacion{
    0%{width: 0%;}
    100%{width: 80%;}
}

.skills .skill .trabajo{
    width: 0%;
    animation: 2s trabajo forwards;
}
@keyframes trabajo{
    0%{width: 0%;}
    100%{width: 90%;}
}

.skills .skill .creatividad{
    width: 0%;
    animation: 2s creatividad forwards;
}
@keyframes creatividad{
    0%{width: 0%;}
    100%{width: 98%;}
}

.skills .skill .dedicacion{
    width: 0%;
    animation: 2s dedicacion forwards;
}
@keyframes dedicacion{
    0%{width: 0%;}
    100%{width: 89%;}
}

.skills .skill .compromiso{
    width: 0%;
    animation: 2s compromiso forwards;
}
@keyframes compromiso{
    0%{width: 0%;}
    100%{width: 100%;}
} 

*/